.back {
    padding-top: 3rem;
    padding-right: 0.8rem;
}

.wrapper {
    margin-left: 5rem;
    border: gray 1px solid;
    padding-bottom: 3rem;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: #2962FF;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #2c43a8
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.container {
    justify-content: center !important;
}

textarea {
    resize: none;
    height: 7.2rem;
 }

.avatar {
    display: flex;
    align-items: end;
    justify-content: center;
}

input:focus::placeholder, textarea:focus::placeholder {
    color: transparent;
    transition: 200ms;
}
