<div class="back">
        <form class=" rounded bg-white d-flex justify-content-center wrapper" [formGroup]="userForm" (ngSubmit)="onUpdate()">
            <div class="row">
                <div class="col-md-3 border-right avatar">
                    <div class="d-flex flex-column align-items-center text-center p-3 py-5"><app-avatar [avatar_url]="avatar_url"></app-avatar></div>
                </div>
                <div class="col-md-4 border-right">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Налаштування Профілю</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">Імʼя</label><input type="text" class="form-control" placeholder="Владислав" formControlName="first_name"></div>
                            <div class="col-md-6"><label class="labels">Прізвище</label><input type="text" class="form-control" placeholder="Кравчук" formControlName="last_name"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-6"><label class="labels">Країна</label><input type="text" class="form-control" placeholder="Україна" formControlName="country"></div>
                            <div class="col-md-6"><label class="labels">Місто</label><input type="text" class="form-control" placeholder="Ірпінь"  formControlName="city"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Освіта</label><input type="text" class="form-control" placeholder="КПІ" formControlName="graduation_type"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="p-3 py-5">
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <h4 class="text-right">Налаштування Досвіду</h4>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6"><label class="labels">Кількість років</label><input type="number" class="form-control" placeholder="1" formControlName="expirience_year"></div>
                            <div class="col-md-6"><label class="labels">Який досвід</label><input type="text" class="form-control" placeholder="Навчальний" formControlName="expirience_type"></div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-md-12"><label class="labels">Опишіть досвід</label><textarea class="form-control" fixed rows="5" placeholder="Розробляв дрони типу А" formControlName="expirience_desc"></textarea></div>
                        </div>
                    </div>
                </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Зберегти</button></div>
                    <!-- <app-files></app-files> -->
                    <app-reviews></app-reviews>
            </div>
        </form>
</div>