<div class="registration">
    <img class="registration__bg-img" src="../../../assets/background/login-bg.png" alt="image" class="registration__bg">
    <form class="registration__form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
       <h1 class="registration__title">Реєстрація</h1>

       <div class="registration__inputs">
            <div class="registration__box">
                <input type="email" placeholder="Пошта" required class="registration__input" formControlName="email">
                <mat-icon fontIcon="email"></mat-icon>
            </div>
            <div class="error" *ngIf="registrationForm.get('email')?.invalid && (registrationForm.get('email')?.dirty || registrationForm.get('email')?.touched)">
                <small *ngIf="registrationForm.get('email')?.errors?.['required']">Введіть пошту</small>
                <small *ngIf="registrationForm.get('email')?.errors?.['email']">Некоректна пошта</small>
            </div>

            <div class="registration__box">
                <input type="string" placeholder="Телефон" required class="registration__input" formControlName="phone">
                <mat-icon fontIcon="phone"></mat-icon>
            </div>
            <div class="error" *ngIf="registrationForm.get('phone')?.invalid && (registrationForm.get('phone')?.dirty || registrationForm.get('phone')?.touched)">
                <small *ngIf="registrationForm.get('phone')?.errors?.['required']">Введіть номер телефону</small>
                <small *ngIf="registrationForm.get('phone')?.errors?.['pattern']">Некоректний номер телефону</small>
            </div>

            <div class="registration__box">
                <input type="string" placeholder="Ім'я" required class="registration__input" formControlName="fname">
                <mat-icon fontIcon="badge"></mat-icon>
            </div>
            <div class="error" *ngIf="registrationForm.get('fname')?.invalid && (registrationForm.get('fname')?.dirty || registrationForm.get('fname')?.touched)">
                <small *ngIf="registrationForm.get('fname')?.errors?.['required']">Введіть імʼя</small>
                <small *ngIf="registrationForm.get('fname')?.errors?.['minlength']">Імʼя закоротке</small>
            </div>

            <div class="registration__box">
                <input type="string" placeholder="Прізвище" required class="registration__input" formControlName="sname">
                <mat-icon fontIcon="badge"></mat-icon>
            </div>
            <div class="error" *ngIf="registrationForm.get('sname')?.invalid && (registrationForm.get('sname')?.dirty || registrationForm.get('sname')?.touched)">
                <small *ngIf="registrationForm.get('sname')?.errors?.['required']">Введіть прізвище</small>
                <small *ngIf="registrationForm.get('sname')?.errors?.['minlength']">Прізвище закоротке</small>
            </div>

            <div class="registration__box">
                <input type="password" placeholder="Пароль" required class="registration__input" formControlName="password">
                <mat-icon fontIcon="lock"></mat-icon>
            </div>
            <div class="error" *ngIf="registrationForm.get('password')?.invalid && (registrationForm.get('password')?.dirty || registrationForm.get('password')?.touched)">
                <small *ngIf="registrationForm.get('password')?.errors?.['required']">Введіть пароль</small>
                <small *ngIf="registrationForm.get('password')?.errors?.['minlength']">Пароль закороткий</small>
            </div>

            <div class="registration__box">
                <input type="password" placeholder="Підтвердження Паролю" required class="registration__input" formControlName="confirm_password">
                <mat-icon fontIcon="lock"></mat-icon>
            </div>
            <!-- <div class="error" *ngIf="registrationForm.get('confirm_password')?.invalid && (registrationForm.get('confirm_password')?.dirty || registrationForm.get('confirm_password')?.touched)">
                 <small *ngIf="registrationForm.get('confirm_password')?.errors?.['password_mismatch']">Пароль не співпадає</small>
            </div> -->
       </div>

       <button type="submit" class="registration__button" [disabled]="registrationForm.invalid">Зареєструватися</button>

       <div class="registration__register">
            Маєш аккаунт? <a href="/login">Увійти</a>
       </div>
    </form>
</div>

