@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/

/*========== Colors ==========*/
/*Color mode HSL(hue, saturation, lightness)*/
$white-color: hsl(0, 0%, 100%);
$black-color: hsl(0, 0%, 0%);
$green-color: hsl(65, 78%, 38%);

/*========== Font and typography ==========*/
/*.5rem = 8px | 1rem = 16px ...*/
$body-font: "Poppins", sans-serif;
$h1-font-size: 2rem;
$normal-font-size: 1rem;
$small-font-size: .813rem;


/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
button,
h1 {
  font-family: $body-font;
  font-size: $normal-font-size;
}

a {
  text-decoration: none;
}

.login__bg-img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== LOGIN ===============*/
.login {
  position:relative;
  height: 100vh;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.login__form {
  position: relative;
  margin-inline: 1.5rem;
  background-color: hsla(0, 0%, 100%, .01);
  border: 2px solid hsla(0, 0%, 100%, .7);
  padding: 2.5rem 1rem;
  color: $white-color;
  border-radius: 1rem;
  backdrop-filter: blur(16px);
}

.login__title {
  text-align: center;
  font-size: $h1-font-size;
  margin-bottom: 1.25rem;
}

.login__inputs,
.login__box {
  display: grid;
}

.login__inputs {
  row-gap: 1.25rem;
  margin-bottom: 1rem;
}

.login__box {
  grid-template-columns: 1fr max-content;
  column-gap: .75rem;
  align-items: center;
  border: 2px solid hsla(0, 0%, 100%, .7);
  padding-inline: 1.25rem;
  border-radius: 4rem;
}

.login__input,
.login__button {
  border: none;
  outline: none;
}

.login__input {
  width: 100%;
  background: none;
  color: $white-color;
  padding-block: 1rem;
}

.login__input::placeholder {
  color: $white-color;
  transition: 200ms;
}

.login__input:focus::placeholder {
  color: transparent;
  transition: 200ms;
}

.login__box i {
  font-size: 1.25rem;
}

.login__check,
.login__check-box {
  display: flex;
  justify-content:end;
  align-items: center;
}

.login__check {
  margin-bottom: 1rem;
  font-size: $small-font-size;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.login__check-box {
  column-gap: .5rem;
}

.login__check-input {
  width: 1rem;
  height: 1rem;
  accent-color: $white-color;
  cursor: pointer;
}

.login__check-label {
  margin-top: .15rem;
  cursor: pointer;
}

.login__forgot {
  color: lightgreen;
}

.login__forgot:hover {
  text-decoration: underline;
}

.login__button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: $white-color;
  border-radius: 4rem;
  color: $black-color;
  font-weight: 600;
  cursor: pointer;
}

.login__button:hover {
  background-color: rgb(54, 54, 179);
  color: $white-color;
  transition: 25ms;
}

small {
  margin-left: 5px;
  color: rgb(181, 10, 10);
  padding-top: 0;
}

.error {
  height: 1rem;
  padding: 0;
  margin-top: -1rem;
}

.login__register {
  font-size: $small-font-size;
  text-align: center;
}

.login__register a {
  color: lightgreen;
  font-weight: 500;
}

.login__register a:hover {
  text-decoration: underline;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .login {
    justify-content: center;
  }
  .login__form {
    width: 420px;
    padding-inline: 2.5rem;
  }
  .login__title {
    margin-bottom: 2rem;
  }
}
