<div class="login">
    <img class="login__bg-img" src="../../../assets/background/login-bg.png" alt="image" class="login__bg">
    <form class="login__form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
       <h1 class="login__title">Авторизація</h1>

       <div class="login__inputs">
          <div class="login__box">
            
             <input type="email" placeholder="Пошта" formControlName="email" required class="login__input">
             <mat-icon fontIcon="email"></mat-icon>
          </div>
          <div class="error" *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
            <small *ngIf="loginForm.get('email')?.errors?.['required']">Введіть пошту</small>
            <small *ngIf="loginForm.get('email')?.errors?.['email']">Некоректна пошта</small>
          </div>

          <div class="login__box">
             <input type="password" placeholder="Пароль" formControlName="password" required class="login__input">
             <mat-icon fontIcon="lock"></mat-icon>
          </div>
          <div class="error" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
            <small *ngIf="loginForm.get('password')?.errors?.['required']">Введіть пароль</small>
            <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Закороткий пароль</small>
          </div>
       </div>

       <div class="login__check">

          <a href="#" class="login__forgot">Забув пароль?</a>
       </div>

       <button type="submit" class="login__button" [disabled]="loginForm.invalid">Увійти</button>

       <div class="login__register">
          Не маєш аккаунта? <a href="/register">Зареєструватися</a>
       </div>
      </form>
</div>
