.card {
    max-width: 400px;
    margin: 0 auto;
}

.card-body {
    padding: 1.5rem;
}

.rounded-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
}

.card-title {
    font-weight: bold;
    margin-bottom: 0;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.rating {
    font-size: 1.5rem;
    color: #ffd700;
    margin-top: 1rem;
}