<div class="row p-5" >
    <div class="col-md-4" *ngFor="let review of reviews">
      <div class="card shadow-sm">
          <div class="card-body">
              <div class="d-flex">
                  <img [src]="review.author.avatar_url" class="rounded-circle mr-3" alt="Profile Picture" (click)="onClick(review.author.id)">
                  <div>
                      <h5 class="card-title mb-0">{{ review.author.first_name }}<i class="fas fa-check-circle text-success"></i></h5>
                      <p class="card-text mb-0">{{ review.date | date:'dd.MM.yyyy' }}</p>
                  </div>
              </div>
              <div class="rating mt-3">
                <mat-icon fontIcon="grade" *ngFor="let star of getStarsArray(review.rate)"></mat-icon>
              </div>
              <p class="card-text">{{ review.desc }}</p>
          </div>
      </div>
    </div>
</div>