<div class="avatar-container">
    <div class="image-container"
    [ngClass]="{'box-shadow-avatar': !!avatar_url}"
    [ngStyle]="{backgroundImage: 'url(' + avatar_url + ')'}">
    </div>

    <ng-template #placeholder>
        <div class="image-container avatar-placeholder">
        </div>
    </ng-template>

    <label for="avatar-input-file">
        <div class="icon-wrapper">
            <input type="file" id="avatar-input-file" accept="image/*" (change)="onFileChange($event)"/>
            <mat-icon class="icon" fontIcon="edit"></mat-icon>
        </div>
    </label>

</div>